html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

#doc-link{
  float: right;
  /* font-weight: bold; */
  color: #ffffff;
  text-decoration: none;
  font-size: 22px;
  margin-top: 12px;
  margin-right: 22px;
  
}

.nav-bar{
  background-color: #5b499d;
  position: fixed;
  margin-top: 0px;
  width: 100%;
  height: 50px;
}

#header-img{
  position: fixed;
  z-index: 9;
  left: 20px;
  top: -17px;
  cursor: pointer;
  height: 100px;
  width: auto;
}

#files {
  margin-top: 50px;
  /* padding-left: 15px; */
  width: 50%;
  height: 50px;
  overflow: hidden;
  overflow-x: hidden;
  
}

.rien-file{
  text-align:center;
  white-space: nowrap;
  padding-left: 10px;
  padding-right: 11px;
  padding-top: 5px;
   
  background-color: #5b499d;
  color: #ffffff;
  float: left;
  width: 16%;
  height: 50px;
  width: 100px;
  cursor: pointer;
}


/* #text-block{
  height: 1000px;
  float: left;
  width: 50%;
  
} */
/* .input-editor {

  height: 82%;
  width: 50%;
} */
.editor-text{
  display: none;
}

.CodeMirror {
  position: fixed;
  left: 0;
  top: 80px;
  height: 100%;
  width: 47%;
  /* float: left; */
  font-size: 16px;
}


/* .CodeMirror-scroll {
  overflow-y: hidden;
  overflow-x: hidden;
} */


#result-block{
  margin-top: 0px;
  padding-left: 30px;
  float: right;
  width: 51%;
  height: 90%;
}


#error-message{
  /* float: right;
  width: 51%; */
  visibility: hidden;
  white-space: nowrap;
  padding-left: 10px;
  padding-right: 11px;
  padding-top: 5px;
  height: 30px;
  width: 51%;
  position: fixed;
  bottom: 20px;
  right: 10px;
  background-color: crimson;
  color: #ffffff;
}